@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            You have successfully created a new account. Click <a asp-page="./Login">here</a> to log in.
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}

